
@model CityOfTulsaUI.Models.UserModel

@{
   ViewData["Title"] = "About the Project";
}

<h5 class="text-muted">@ViewData["Title"]</h5>

@section Styles
{
   <link rel="stylesheet" type="text/css" href="@Url.Content("/css/aboutcotproject.css")" />
}

@section Scripts
{
}

<ul id="about_list" class="mt-4">
   <li><strong>SSDT_ImportCityOfTulsaData</strong> is the SSDT/SSIS project that periodically reads new JSON data from the City of Tulsa official website, then loads it into SQL Server</li>
   <li><strong>CityOfTulsa.API</strong> is the ASP.NET Core Web API suite serving the data (some methods require a JWT or API Key)</li>
   <li><strong>CityOfTulsa.UI</strong> is the ASP.NET Core interface illustrating access to the Web API</li>
   <li><strong>CityOfTulsa.Data</strong> is the ASP.NET Core class library providing some supporting classes and type extensions</li>
   <li>Projects are stored in <a href="https://github.com/breck-ryker" target="_blank"><strong>GitHub</strong></a></li>
   <li><strong>CityOfTulsa.API</strong> uses method attributes that can authenticate callers via either Json Web Token (JWT) or API Key</li>
   <li id="tech_list">
      <strong>This project makes use of:</strong>
      <ul class="mt-2">
         <li>ASP.NET Core Web API 5.0</li>
         <li>MVC</li>
         <li>JQuery</li>
         <li>SSIS (C# Script Tasks)</li>
         <li>T-SQL scripts</li>
         <li>SSIS job scheduling</li>
         <li>Entity Framework</li>
         <li>LINQ</li>
         <li>AJAX</li>
         <li>JSON</li>
         <li>JavaScript</li>
         <li>CSS</li>
         <li>Bootstrap 4</li>
         <li>DataTables</li>
         <li>Alertify</li>
      </ul>
   </li>
</ul>