
@model CityOfTulsaUI.Models.UserModel

@{
   ViewData["Title"] = "About the Project";
}

<h5 class="text-muted">@ViewData["Title"]</h5>

@section Styles
{
   <link rel="stylesheet" type="text/css" href="@Url.Content("/css/aboutcotproject.css")" />
}

@section Scripts
{
}