
@model CityOfTulsaUI.Models.UserModel

@{
   ViewData["Title"] = "About the Project";
}

<h5 class="text-muted">@ViewData["Title"]</h5>

@section Styles
{
   <link rel="stylesheet" type="text/css" href="@Url.Content("/css/aboutcotproject.css")" />
}

@section Scripts
{
}

<ul id="about_list" class="mt-4">
   <li><strong>SSDT_ImportCityOfTulsaData</strong> is the SSDT/SSIS project that periodically reads new json data from the City of Tulsa official website, then loads it into SQL Server</li>
   <li><a href="https://cityoftulsawebapi.azurewebsites.net/swagger" target="_blank"><strong>CityOfTulsa.API</strong></a> is the ASP.NET Core Web API suite serving the data. Some methods use attributes that require callers to authenticate via either a Json Web Token (JWT) or API Key</li>
   <li><strong>CityOfTulsa.UI</strong> is the ASP.NET Core interface illustrating access to the Web API</li>
   <li><strong>CityOfTulsa.Data</strong> is the ASP.NET Core class library providing some supporting classes and type extensions</li>
   <li>Projects are stored in <a href="https://github.com/breck-ryker" target="_blank"><strong>GitHub</strong></a></li>
   <li id="tech_list">
      <strong>This project makes use of:</strong>
      <ul class="mt-2">
         <li>ASP.NET Core 5.0 Web API</li>
         <li>Azure App Service</li>
         <li>Azure SQL Database</li>
         <li>MVC</li>
         <li>JQuery</li>
         <li>SSIS (C# Script Tasks)</li>
         <li>T-SQL scripts</li>
         <li>SSIS job scheduling</li>
         <li>Entity Framework</li>
         <li>LINQ</li>
         <li>AJAX</li>
         <li>JSON</li>
         <li>JavaScript</li>
         <li>CSS</li>
         <li>Bootstrap 4</li>
      </ul>
   </li>
</ul>