@{
   ViewData["Title"] = "Home Page";
   string appSettingsList = ViewBag.AppSettingsList;
}

@section Styles
{
   <link rel="stylesheet" type="text/css" href="@Url.Content("/css/index.css")" />
}

<div class="text-center">
   <h1 class="display-4">Welcome</h1>
   <p>Click a category to explore City Of Tulsa data.</p>
   @if (!(string.IsNullOrWhiteSpace(appSettingsList))) {
      <p class="font-weight-bold" mt-5>@Html.Raw(appSettingsList)</p>
   }
</div>
