@model CityOfTulsaUI.Models.UserModel

<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="google" content="notranslate">
   <meta http-equiv="Content-Language" content="en">

   <title>@ViewData["Title"] - CityofTulsaData.com</title>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/lib/tooltipster/css/tooltipster.bundle.min.css" />
   <link rel="stylesheet" href="~/css/site.css" />
   <link rel="stylesheet" href="~/css/spinner.css" />

   @await RenderSectionAsync("Styles", required: false)

</head>
<body>
   <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1" id="main_navbar">
         <div class="container">
            <a class="navbar-brand d-sm-none d-md-block" asp-area="" asp-controller="Home" asp-action="Index">CityofTulsaData.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
               <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item" data-pagekey="home">
                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                  </li>
                  <li class="nav-item tooltipster" data-pagekey="tfddata" title="Search Tulsa Fire Dispatch data by date, crisis type, responding division/station, or emergency vehicle ID">
                     <a class="nav-link text-dark" asp-area="" asp-controller="TFD" asp-action="TFDSearch">Search TFD Data</a>
                  </li>
                  @*<li class="nav-item" data-pagekey="towlist">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TowList">Search Tow List</a>
                     </li>*@
                  <li class="nav-item" data-pagekey="cot-webapi">
                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutCOTWebAPI">Web API</a>
                  </li>
                  <li class="nav-item" data-pagekey="cot-project">
                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutCOTProject">About the Project</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
   <div class="container">
      <main role="main" class="pb-3">
         @RenderBody()
      </main>
   </div>

   <footer class="border-top footer text-muted">
      <div class="container">
         &copy; 2021 - CityofTulsaData.com - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
      </div>
   </footer>

   <div id="overlay">
      <div class="cv-spinner">
         <span class="spinner"></span>
      </div>
   </div>

   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="~/lib/tooltipster/js/tooltipster.bundle.min.js"></script>
   <script src="~/js/common-lib.js" asp-append-version="true"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
