
.navbar-nav li.nav-item[data-pagekey="tfddata"] {
   border-bottom: 4px solid orange;
}

#show_dateoptions,
#show_problemlist {
   width:20px;
   height:20px;
}

#label_showdateoptions,
#label_showproblemlist {
   padding-left:12px;
}

.list-group-item {
   border: none;
   padding: .35rem 0.65rem;
}