

.table td, 
.table th {
   padding:0.25rem;
}

table.dataTable td {
   font-size: 0.8rem;
}

table.dataTable th {
   font-size: 0.9rem;
}

td.details-control {
   background: url('/images/details_open.png') no-repeat center center;
   cursor: pointer;
}

tr.shown td.details-control {
   background: url('/images/details_close.png') no-repeat center center;
}

td.map-launcher {
   cursor:pointer;
   text-decoration:underline;
}

tr.dt-hasChild.shown + tr {
   background-color:dimgray;
}

table.tfd-fireevent-detail {
   background-color:white;
}

#search_results_wrapper .row:nth-of-type(2) .col-sm-12 {
   min-height:360px;
}

#query_desc {
   max-height: 60px;
   overflow-y: auto;
   font-size: smaller;
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
/*   position: sticky;
   top: 38px;
   background-color: white;
   z-index: 2;*/
}

#backtosearch_row {
   position:sticky;
   top:0px;
   background-color:white;
   z-index:2;
}

.onscroll-scheme {
   border-bottom:1px solid lightgray;
}